@media (max-width: 768px) {
  .project-tech-list {
    display: flex;
    flex-direction: column;
  }
}

.paragraph {
  font-size: 20px;
  background: #0e2433;
  color: #74b72e;
}

.para1 {
  background: #0e2433;
  color: #74b72e;
  padding: 150px 20px;
}

.photo {
  width: 1400px;
}

.contact-list {
  list-style: none;
}
.contact-list a {
  text-decoration: none;
}

strong,
.another-list ul {
  list-style: none;
}
img {
  width: 200px;
  border-radius: 90px;
}

.contact-container,
.icons,
nav,
.contact-con,
.overall {
  background: #0e2433;
}

.head,
.subhead {
  color: #74b72e;
}

.contact-container,
.contact-list a,
.social-links {
  color: white;
}
.social-links {
  gap: 10px;
}
.overall-container,
.bar {
  background: #74b72e;
  color: #0e2433;
}

.button,
button {
  background: #74b72e;
  color: #0e2433;
}
.button button:hover {
  background: #0e2433;
}
.name,
.contact-con,
.navbar-toggle-icon,
h2 {
  color: #74b72e;
}

.names,
.hamper {
  color: #0e2433;
}

.icon,
.contact-page,
.Toggle {
  background: #74b72e;
}
.overall,
ul {
  font-size: 18px;
  display: block;
}
.price {
  border: 1px solid #ffff;
  border-radius: 15px;
  background: #0e2433;
  color: #fff;
}

.category1 {
  width: 330px;
  height: 280px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}

.category2 {
  width: 330px;
  height: 390px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}

.category3,
.category4 {
  width: 330px;
  height: 490px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}

.category5 {
  width: 330px;
  height: 460px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}

.category6 {
  width: 330px;
  height: 430px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}

.category7 {
  width: 330px;
  height: 380px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.category8 {
  width: 330px;
  height: 460px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.category9 {
  width: 330px;
  height: 420px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.category10 {
  width: 330px;
  height: 400px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}

.veggies-category {
  width: 330px;
  height: 680px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}

.sweet-category {
  width: 330px;
  height: 350px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.sweet-category1 {
  width: 330px;
  height: 410px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.sweet-category2 {
  width: 330px;
  height: 410px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.sweet-category3 {
  width: 330px;
  height: 440px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.eskort-category1 {
  width: 330px;
  height: 410px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.eskort-category2 {
  width: 330px;
  height: 490px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.eskort-category3 {
  width: 330px;
  height: 490px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.eskort-category4 {
  width: 330px;
  height: 510px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.eskort-category5 {
  width: 330px;
  height: 500px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.meat-category1 {
  width: 330px;
  height: 430px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.meat-category2 {
  width: 330px;
  height: 430px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.meat-category3 {
  width: 330px;
  height: 450px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.meat-category4 {
  width: 330px;
  height: 480px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.meat-category5 {
  width: 330px;
  height: 520px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.meat-category6 {
  width: 330px;
  height: 550px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.meat-category7 {
  width: 330px;
  height: 570px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}
.meat-category8 {
  width: 330px;
  height: 600px;
  background-color: #74b72e;
  border: 1px solid #ffff;
  box-shadow: 0px 0px 20px 0px rgba(204, 207, 208, 0.76);
  padding: 10px;
  margin: 20px;
}

.price {
  font-weight: 600;
  font-size: 18px;
}

.between {
  width: 1%;
  padding: 5;
}
.p-qkx7611 {
  width: 50%;
  display: inline-block;
  padding-top: px;
  padding-right: px;
  padding-bottom: 10px;
  padding-left: px;
}
@media (max-width: 500px) {
  .p-qkx7611 {
    width: 100%;
  }
}

.p-m1y8357 {
  width: 50%;
  display: inline-block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .p-m1y8357 {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}

.p-23y5251 {
  width: 50%;
  display: inline-block;
  padding-top: px;
  padding-right: px;
  padding-bottom: 10px;
  padding-left: px;
}
@media (max-width: 500px) {
  .p-23y5251 {
    width: 100%;
  }
}

.p-flp86 {
  width: 50%;
  display: inline-block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}
@media (max-width: 500px) {
  .p-flp86 {
    width: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}

.p-qfz8277 {
  width: 100%;
  display: inline-block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
}
